<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="com.veeva.listener.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Veeve Test">
        <classes>
            <class name="com.veeva.test.HomeTest"/>
            <class name="com.veeva.test.LoadMoreTest"/>
            <class name="com.veeva.test.TicketBookingTest"/>

        </classes>
    </test>
</suite>